%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.

{deps, [
        {nxo_template, {git, "git://github.com/nxolib/nxo_template", {ref, "main"}}}
       ,{nxo_db,       {git, "git://github.com/nxolib/nxo_db",       {ref, "main"}}}
       ,{sync, "0.2.0"}
       ]}.

{relx, [{release, { myapp, {git, short}}, [myapp]},
        {overlay, [{copy, "environment", "environment"}]},
        {dev_mode, false},
        {include_erts, false},
        {debug_info, keep},
        {sys_config_src, "config/sys.config.src"},
        {extended_start_script, true}]}.

{shell, [{apps, [myapp]},
         {env_file, "environment/dev.env"}]}.
